{% extends 'base.html' %}
{% load static %}

{% block content %}
    <title>TrueHealth | Feedback</title>

    <!-- FEEDBACK -->

    <main>
        <div class="container-fluid">
            <h1 class="display-2 text-center mb-4 text-success">FEEDBACK AREA</h1><br>
            <div class="container">
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-dark text-white" id="inputGroup-sizing-lg">Name of Doctor </span>
                        </div>
                        <input type="text" name="name"  class="form-control" aria-label="Name of Doctor" aria-describedby="inputGroup-sizing-sm" placeholder="Full Name" required>
                    </div>
                    <br>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-dark text-white" id="inputGroup-sizing-lg">Feedback </span>
                        </div>
                        <textarea rows="5" cols="50" name="feedback" class="form-control" placeholder="In maximum 200 words" aria-label="Feedback" required></textarea>
                    </div>
                    <br>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-dark text-white" id="inputGroup-sizing-lg">Ratings </span>
                        </div>
                        <input type="number" name="ratings" class="form-control" aria-label="Rating" placeholder="Out of 5" aria-describedby="inputGroup-sizing-sm" required >
                    </div>
                    <br>
                    <div class="container text-center">
                        <input type="submit"  data-toggle="modal" data-target="#myModal" class="btn btn-success btn-lg" value="Submit" name="apply"/>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}