{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <title>TrueHealth | Admin Requests </title>

     <!-- Super Admin Request-->
    <main>
         <div class="container p-1">
            <h1 class="display-1 text-center">Staff Status Information</h1>
            <br>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white" id="inputGroup-sizing-lg">Name</span>
                    </div>
                    <input type="text" name="name" maxlength="50" class="form-control" aria-label="Name" placeholder="Enter Your Name" aria-describedby="inputGroup-sizing-sm">
                </div>
                <br>
                <div class="input-group input-group-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-white" id="inputGroup-sizing-lg">Staff Status</span>
                  </div>
                  <textarea rows="5" cols="50" name="permission" maxlength="200" class="form-control" placeholder="Enter Which Permissions You Want In Website" aria-label="permission"></textarea>
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white" id="inputGroup-sizing-lg">Aadhar No. </span>
                    </div>
                    <input type="number" name="aadhar"  class="form-control" aria-label="aadhar" placeholder="Enter Your Adhaar Number" maxlength="12" aria-describedby="inputGroup-sizing-sm">
                </div><br>
                <div class="container text-center">
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </div>
            </form>
        </div>

        <br>

         <div class="text-center">
            {% for message in messages %}
            <h3 class="display-4"><mark class="bg-danger" style="color:white">{{ message }}</mark></h3>
            {% endfor %}
        </div>
    </main>
{% endblock  %}