{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <main role="contact">
        <!-- CONTACT INFO -->
        <div class="container">
            <h1 class="display-2 text-center">Contact Us</h1>
            <img src="{% static 'base/imgs/Contact/Contactus-1.jpg'%}" alt="Contact Us" class="w-100">
            <p><b><i>Address</i></b>: B4, Flat No. 19 / Dhanlaxmi Park , Right Bhusari Colony , Paud Road , Kothrud , Pune , Maharashtra , India</p>
            <p><b><i>Mail Us: </i></b> suyashphatak@yahoo.com , suyashphatak@hotmail.com</p>
            <p><b><i>Contact No.:</i></b> 8208041135</p>
            <p><b><i>Last Updated:</i></b><b> 4 DECEMBER 2019</b></p>
        </div>
    </main>
{% endblock %}