{% extends 'base.html' %}
{% load static %}
{% block content %}
     <title>TrueHealth | Government Rules</title>

    <main>
        <div class="container">
            <h1 class="display-1 text-center">LINKS FOR RULE BOOKS</h1>
            <br>
            <div class="container">
                <h3 class="text-center bg-dark text-white p-2 rounded" style="border:2px solid red"> Ministry of Health & Family Welfare Acts & Regulations </h3>
                <img src="{% static 'base/imgs/GR_1.jpg' %}" class="w-100 img-thumbnail" alt="Mohfw">
                <br>
                <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://mohfw.gov.in/acts-rules-and-standards-health-sector/acts">Link: MOHFW</a></h3>
                <br>
                <h3 class="text-center bg-dark text-white p-2 rounded" style="border:2px solid red">Indian Pharmaceutical Association Regulation & Guidelines</h3>
                <img src="{% static 'base/imgs/GR_2.jpg' %}" class="w-100 img-thumbnail" alt="IPARG">
                <br>
                <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://ipapharma.org/portfolio/regulations-and-guidelines/">Link: IPA</a></h3>
            </div>

            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>

            <h1 class="display-1 text-center">RULE PDFS</h1>
            <br>
            <div class="container">
                <h3 class="text-center bg-dark text-white p-2 rounded" style="border:2px solid red">Indian Public Health Standards Guidelines for District Hospitals </h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{% static 'base/pdfs/District_Hospital.pdf'%}" class="embed-responsive-item"></iframe>
                </div>
                <br>
                <h3 class="text-center bg-dark text-white p-2 rounded" style="border:2px solid red">Indian Medical Council Regulations</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{% static 'base/pdfs/Ethics-Regulations-2002.pdf'%}"class="embed-responsive-item"></iframe>
                </div>
                <br>
                <h3 class="text-center bg-dark text-white p-2 rounded" style="border:2px solid red">The All India Services Rules </h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{% static 'base/pdfs/Revised_AIS_Rule_Vol_I_Rule_06.pdf'%}" class="embed-responsive-item"></iframe>
                </div>
                <br>
             </div>
        </div>
    </main>
{% endblock %}
