{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>TrueHealth | Government Websites</title>

    <br>
    <main>
        <!-- GOV WEBSITES -->
        <div class="container">
            <h2 class="display-3 text-center">GOVERNMENT OFFICIAL WEBSITES AND LINKS</h2><br>
            <!-- GW1 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">Ministry of Health & Family Welfare</h3>
            <img src="{% static 'base/imgs/GW/Gw_1.jpg' %}" class="w-100 img-thumbnail" alt="Mohfw">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://mohfw.gov.in/" target="_blank"><b>Link:</b><i> MOHFW</i></a></h3>
            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW2 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">National Health Portal</h3>
            <img src="{% static 'base/imgs/GW/Gw_2.jpg' %}" class="w-100 img-thumbnail" alt="nhp">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://www.nhp.gov.in/" target="_blank"><b>Link:</b><i> NHP</i></a></h3>
            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW3 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">National Health Mission</h3>
            <img src="{% static 'base/imgs/GW/Gw_3.jpg' %}" class="w-100 img-thumbnail" alt="nhm">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://nhm.gov.in/" target="_blank"><b>Link:</b><i> NHM</i></a></h3>
            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW4 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">National Health System Resource Center</h3>
            <img src="{% static 'base/imgs/GW/Gw_4.jpg' %}" class="w-100 img-thumbnail" alt="nhrsc">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="http://nhsrcindia.org/" target="_blank"><b>Link:</b><i> NHRSC</i></a></h3>
            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW5 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">National Health Authority</h3>
            <img src="{% static 'base/imgs/GW/Gw_5.jpg' %}"class="w-100 img-thumbnail" alt="pmjay">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://pmjay.gov.in/about-nha" target="_blank"><b>Link:</b><i> PMJAY</i></a></h3>
            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW6 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">Department of Health Research</h3>
            <img src="{% static 'base/imgs/GW/Gw_6.jpg' %}" class="w-100 img-thumbnail" alt="dhr">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://dhr.gov.in/" target="_blank"><b>Link:</b><i> DHR</i></a></h3>
            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW7 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">Directorate General of Health Services </h3>
            <img src="{% static 'base/imgs/GW/Gw_7.jpg' %}" class="w-100 img-thumbnail" alt="dghs">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://dghs.gov.in/" target="_blank"><b>Link:</b><i> DGHS</i></a></h3>
            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW8 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">Indian Council of Medical Association</h3>
            <img src="{% static 'base/imgs/GW/Gw_8.jpg' %}" class="w-100 img-thumbnail" alt="icmr">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://www.icmr.nic.in/" target="_blank"><b>Link:</b><i> ICMR</i></a></h3>
            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW9 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">Indian Medical Association</h3>
            <img src="{% static 'base/imgs/GW/Gw_9.jpg' %}" class="w-100 img-thumbnail" alt="ima">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="http://www.ima-india.org/ima/" target="_blank"><b>Link:</b><i> IMA</i></a></h3>
            <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW10 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">Department of Pharmaceuticals</h3>
            <img src="{% static 'base/imgs/GW/Gw_10.jpg' %}" class="w-100 img-thumbnail" alt="pharmaceuticals">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://pharmaceuticals.gov.in/" target="_blank"><b>Link:</b><i> PHARMACEUTICAL</i></a></h3>
           <br>
            <div class="container p-1 rounded" style="border: 2px solid black"></div>
            <br>
            <!-- GW11 -->
            <h3 class="text-center bg-dark text-white p-2 rounded display-4" style="border:2px solid red">Hospital Directory</h3>
            <img src="{% static 'base/imgs/GW/Gw_11.jpg' %}" class="w-100 img-thumbnail" alt="data">
            <br>
            <h3 class="text-center bg-success p-2 rounded" style="border:2px solid black"><a class="text-white" href="https://data.gov.in/catalog/hospital-directory-national-health-portal?filters%5Bfield_catalog_reference%5D=323881&format=json&offset=0&limit=6&sort%5Bcreated%5D=desc" target="_blank"><b>Link:</b><i> DATA GOV</i></a></h3>
            <br>
        </div>
    </main>
{% endblock %}