{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>TrueHealth | Search a Doctor</title>
    <div class="container-fluid">
         <br>
        <table  class="w-100 table-responsive-lg table-hover table-bordered text-center">
            <tr class="bg-info">
              <th scope="col">Name</th>
              <th scope="col">Registration No.</th>
              <th scope="col">Information Year</th>
              <th scope="col">State Council Name</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Date of Registration</th>
              <th scope="col">Father's/Husband's Name</th>
              <th scope="col">Qualification Year</th>
              <th scope="col">University Name</th>
              <th scope="col">Contact No.</th>
              <th scope="col">Gender</th>
              <th scope="col">Ratings</th>
              <th scope="col">Location</th>
              <th scope="col">Additional Qualification 1</th>
              <th scope="col">Qualification Year</th>
              <th scope="col">University Name</th>
            </tr>
        </table>
        1
        2
        3
        4
    </div>
{% endblock %}