{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>TrueHealth | Search a Doctor</title>
    <div class="container">
        {{ doctor.name }}<br>
        {{ doctor.location }} <br>
        {{ doctor.contact }} <br>
        {{ doctor.gender }} <br>
        {{ doctor.DOB }} <br>
        {{ doctor.DOR }} <br>
        {{ doctor.council }} <br>
        {{ doctor.fathers_name }} <br>
        {{ doctor.qualified_year }}<br>
        {{ doctor.university }}<br>
        {{ doctor.max_qualification }}<br>
        {{ doctor.ratings }}<br>
        <img src="{{ doctor.image.url }}" width="50%" height=auto>
    </div>
{% endblock %}