{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <title>TrueHealth | Search a Doctor</title>
    <main>
        <div class="container-fluid">
            <h1 class="display-1 text-center">Search a Doctor</h1>
            <br>
            <form class="text-center" method="GET" action="results" enctype="multipart/form-data">
                {% csrf_token %}
               <div class="input-group input-group-lg container">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white" id="inputGroup-sizing-lg">Search a Doctor</span>
                    </div>
                    <input id="autocomplete" autocomplete="on" type="text" name="search" maxlength="50" class="form-control" value="{{ request.GET.search }}" aria-label="Search a Doctor" aria-describedby="inputGroup-sizing-sm" placeholder="By Name or Location">
                </div>
                <div class="container p-2">
                    <button type="submit" class="btn btn-success btn-lg">Search</button>
                </div>
            </form>

            <div class="text-center">
                {% if messages %}
                    {% for message in messages %}
                    <h3 class="display-4"><mark class="bg-danger" style="color:white">{{ message }}</mark></h3>
                    {% endfor %}
                {% endif %}
            </div>

            <br>
            <br>

            <div class="container-fluid">
                {% if sr %}
                    <br>
                    <h3 class="text-center"><b>{{ count }} doctor(s)</b> found</h3>
                     <br>
                    <table  class="w-100 table-responsive-lg table-hover table-bordered text-center">
                        <tr class="bg-info">
                          <th scope="col">Name</th>
                          <th scope="col">Registration No.</th>
                          <th scope="col">Information Year</th>
                          <th scope="col">State Council Name</th>
                          <th scope="col">Date of Birth</th>
                          <th scope="col">Date of Registration</th>
                          <th scope="col">Father's/Husband's Name</th>
                          <th scope="col">Qualification Year</th>
                          <th scope="col">University Name</th>
                          <th scope="col">Contact No.</th>
                          <th scope="col">Gender</th>
                          <th scope="col">Ratings</th>
                          <th scope="col">Location</th>
                          <th scope="col">Additional Qualification 1</th>
                          <th scope="col">Qualification Year</th>
                          <th scope="col">University Name</th>
                        </tr>
                        {% for k in sr %}
                            <tbody class="bg-dark">
                                <tr class="text-white">
                                    <th scope="row"><a href="results/<int:doctor_id>"> {{ k.name }}</a></th>
                                  <td>{{ k.contact }}</td>
                                  <td>{{ k.gender }}</td>
                                  <td>{{ k.ratings }}</td>
                                  <td>{{ k.location }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock%}