{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <title>TrueHealth | Search a Doctor</title>
    <main>
        <div class="container">
            <h1 class="display-1 text-center">Search a Doctor</h1>
            <br>
            <form class="text-center" method="GET" action="results" enctype="multipart/form-data">
                {% csrf_token %}
               <div class="input-group input-group-lg container">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white" id="inputGroup-sizing-lg">Search a Doctor</span>
                    </div>
                    <input id="autocomplete" autocomplete="on" type="text" name="search" maxlength="50" class="form-control float-left" value="{{ request.GET.search }}" aria-label="Search a Doctor" aria-describedby="inputGroup-sizing-sm" placeholder="By Name or Location">
                    <button type="submit" onclick="error()" class="btn btn-success btn-lg float-right ml-2">Search</button>
                </div>
            </form>

            <div class="text-center">
                {% if messages %}
                    {% for message in messages %}
                    <h3 class="display-4"><mark class="bg-danger" style="color:white">{{ message }}</mark></h3>
                    {% endfor %}

                    <!--<script>
                        function error(){
                            alert("Search not found")
                        }
                    </script>-->
                {% endif %}
            </div>

            <br>
            <br>

            <div class="container">
                {% if sr %}
                    <br>
                    <h3 class="text-center"><b>{{ count }} doctor(s)</b> found</h3>
                     <br>
                    {% for k in sr %}
                         <div class="container border p-3 m-4" style="background: rgb(241,240,246);box-shadow: 5px 13px 8px #888888;">
                            <div class="row m-1">
                              <div class="col-sm-2">
                                <img class="rounded" style="width:100px;height:100px;" src=" {{MEDIA_URL}} {{doctors.PHOTO}} " alt="Profile Picture">
                              </div>
                              <div class="col-sm-6">
                                <div class="pl-2 pr-2 pb-2">
                                  <p style="font-size:20px;"><a  href="results/<int:doctor_id>"><b>Dr. {{ k.name }} </b><span><i class="fa fa-check-square" style="font-size:18px;color:green;margin:1px;padding:0;"> Verified</i></span></a></p>
                                  <p>Specializations in {{ k.Additional_Qualifications_2 }} from {{ k.Additional_Qualifications_2_year_2 }}</p>
                                  <p>Registered in {{ k.Information_year }}</p>
                                  <p>Graduated in {{ k.qualified_year }}</p>
                                    <p><b>{{ k.additional_Qualifications_1 }}</b></p>
                                </div>
                              </div>
                              <div class="col-sm-4 p-2" style="margin:0;padding:0;">
                                <p><span class="p-3"><i class="fa fa-phone-square" style="font-size:24px;margin:0;padding:0;display:inline"></i></span> {{ k.contact }}</p>
                                <p><span class="p-2"><i class="fa fa-male" style="font-size:24px;margin:0;padding:0;display:inline"></i>/<i class="fa fa-female" style="font-size:24px;margin:0;padding:0;display:inline"></i></span> {{ k.gender }}</p>
                                <p><span class="p-3"><i class="fa fa-thumbs-o-up" style="font-size:24px;margin:0;padding:0;display:inline"></i></span> {{ k.ratings }}/5</p>
                                <p><span class="pl-3 pr-4 pt-3 pb-3"><i class="fa fa-map-marker" style="font-size:24px;margin:0;padding:0;display:inline"></i></span> {{ k.location }}</p>
                              </div>
                            </div>
                         </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>

    <!-- Pagination -->

    <div class="pagination">
        <nav aria-label="pagination ">
            {% if sr.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if sr.has_previous %}
                  <li class="page-item"><a href="?page={{ sr.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in sr.paginator.page_range %}
                  {% if sr.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                  <li><a href="?page={{ i }}"><span class="page-link">{{ i }}</span></a></li>
                  {% endif %}
                {% endfor %}
                {% if sr.has_next %}
                  <li class="page-item"><a href="?page={{ sr.next_page_number }}"><span class="page-link">&raquo;</span></a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </nav>
        <!--
        {% if sr.has_previous %}
            <a class="" href="?page=1">
                <<
            </a>

            <a class="" href="?page={{ sr.previous_page_number }}">
                <
            </a>

        {% endif %}
        {% for num in sr.paginator.page_range %}
            {% if sr.number == num %}
                <strong> {{ num }} </strong>
            {% elif num > sr.number|add:'-3' and  num < sr.number|add:'3' %}
                {{ num }}
            {% endif %}
        {% endfor %}

        {% if sr.has_next %}
            <a class="" href="?page={{ sr.next_page_number }}">
                 >>
            </a>

            <a class="" href="?page={{ sr.paginator.next_page }}">
                 >
            </a>

        {% endif %}-->
    </div>

{% endblock %}