{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <title>TrueHealth | Search a Doctor</title>
    <main>
        <div class="container">
            <h1 class="display-1">Search a Doctor</h1>
            <form method="GET" action="results" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="text-center" value="{{ request.GET.search }}" name="search" placeholder="Search a Doctor by Name">
                <button type="submit" class="btn btn-success p-2 m-1">Search</button>
            </form>

            <br>

            <div class="text-center">
                {% for message in messages %}
                <h3 class="display-4"><mark class="bg-danger" style="color:white">{{ message }}</mark></h3>
                {% endfor %}
            </div>

            <br>
            <br>

            <div class="container">
                {% if sr %}
                    {% for k in sr %}
                        <table border="0px" width="500px">
                            <tr>
                                <td>Name</td>
                                <td>{{ k.name }}</td>
                            </tr>
                            <tr>
                                <td>Degree</td>
                                <td>{{ k.degree }}</td>
                            </tr>
                            <tr>
                                <td>Contact No.</td>
                                <td>{{ k.contact }}</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>{{ k.gender }}</td>
                            </tr>
                            <tr>
                                <td>Ratings</td>
                                <td>{{ k.ratings }}</td>
                            </tr>

                            <tr>
                                <td>Location</td>
                                <td>{{ k.location }}</td>
                            </tr>
                            <tr>
                                <td>Experience</td>
                                <td>{{ k.experience }}</td>
                            </tr>
                            <tr>
                                <td>Fees</td>
                                <td>{{ k.fees }}</td>
                            </tr>
                            <tr>
                                <td>Photo</td>
                                <td>{{k.image}}</td>
                            </tr>
                            <tr>
                                <td>Timings</td>
                                <td>{{ k.stime }} TO {{k.etime}}</td>
                            </tr>

                        </table>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </main>

{% endblock%}