<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>

        <!--META TAGS  -->

        <meta charset="UTF-8">
        <meta name="description" content="Legal Doctors Check">
        <meta name="keywords" content="Legal,Doctor,Hospital,Pharmacy,Fraud,Fraud Doctor, Illegal">
        <meta name="author" content="Suyash Phatak">
        <meta http-equiv="x-ua-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS & BOOTSTRAP LINKS-->
        <link rel = "icon" href ="https://storage.needpix.com/rsynced_images/doctor-2411135_1280.png" type = "image/x-icon">
        <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

    </head>
    <body>



            <!-- TOP HEADER -->

            <header id="header-top">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                      <a class="navbar-brand" href="Home">
                            <img src="{% static 'base/imgs/logo.JPG' %}" alt="Website Logo" width="100px" height="100px">
                            <span class="display-4"><span style="color:rgb(132,200,50)">True</span><span style="color:rgb(61,72,151)">Health</span></span>
                      </a>

                        <!-- Responsive Navbar -->

                       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                       </button>

                        <!-- Main Navbar -->

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto p-3 m-2">
                          <li class="nav-item active ml-5">
                            <a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="Services/SearchDoctor">Search a Doctor</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="admin">Admin Login</a>
                                <a class="dropdown-item" href="Register/register">New Admin Registration</a>
                            </div>
                          </li>
                           <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Government Regulations</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="Rules/GovRules">Government Rules</a>
                                    <a class="dropdown-item" href="Rules/GovWebs">Government Websites</a>
                                </div>
                           </li>
                          <li class="nav-item">
                            <a class="nav-link" href="Contact/Contactinfo">Contact Us</a>
                          </li>
                        </ul>

                         <!-- SEARCHBOX -->
                          {% if user.is_authenticated %}
                          <div class="my-2 my-lg-0 ">
                              <h3 class="display-4">Hello, {{user.first_name}}</h3>
                              <a style="color:white;text-decoration:none;font-size:20px" href="Providers/logout">Logout</a>
                          </div>
                          {% else %}
                            <form method="GET" action="Services/results" class="form-inline my-2 my-lg-0" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input class="text-center rounded p-2 m-1" name="search" placeholder="Search a Doctor">
                                <button type="submit" class="btn btn-danger p-2 m-1">Search</button>
                            </form>
                          {% endif %}
                      </div>
                    </nav>
                </div>
            </header>


            <main>
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>

            <br>


         <!-- SOCIAL MEDIA SITES -->

            <footer>
                <div class="container-fluid text-center bg-dark p-2">
                    <h3 class="display-4" style="text-transform : uppercase;color:white;">visit Our Social Media Sites</h3>
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/" class="fa fa-twitter"></a>
                    <a href="https://accounts.google.com/ServiceLogin/signinchooser?passive=1209600&continue=https%3A%2F%2Faboutme.google.com%2Fu%2F0%2F&followup=https%3A%2F%2Faboutme.google.com%2Fu%2F0%2F&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="fa fa-google"></a>
                    <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                </div>
            </footer>

            <!-- MAIN FOOTER -->

            <footer id="footer">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-4 p-1" style="text-align:center;border-right: 1px dotted gray;">
                          <nav class="navbar navbar-dark">
                            <ul class="navbar-nav" style="color:white;margin-left:auto;margin-right:auto;">
                                <li>
                                    <h3 style="border-bottom:3px solid red">IMPORTANT LINKS</h3>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Contact/Contactinfo">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% static 'base/pdfs/privacy_policy.pdf' %}" target="_blank">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% static 'base/pdfs/Terms.pdf' %}" target="_blank">Terms and Conditions</a>
                                </li>
                            </ul>
                          </nav>
                      </div>
                      <div class="col-4 p-1" style="text-align:center;border-right: 1px dotted gray;">
                          <nav class="navbar navbar-dark">
                            <ul class="navbar-nav" style="color:white;margin-left:auto;margin-right:auto;">
                                <li>
                                    <h3 style="border-bottom:3px solid red">SERVICES</h3>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Services/SearchDoctor">Search a Doctor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="admin">Admin Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Register/register">New Admin Registration</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="Rules/GovRules">Government Rules</a>
                                </li>
                            </ul>
                          </nav>
                      </div>
                      <div class="col-4 p-1" style="text-align:center;">
                          <a class="navbar-brand" style="margin-top:50px;" href="Home">
                            <img src="{% static 'base/imgs/logo.JPG' %}" alt="Website Logo" width="100px" height="100px">
                            <span class="display-4"><span style="color:rgb(132,200,50)">True</span><span style="color:rgb(61,72,151)">Health</span></span>
                          </a>
                          <p class="p-2 font-weight-bold" style="color:white;"> &copy; TrueHealth Copyright Policy. All Rights Reserved. </p>
                      </div>
                    </div>
                </div>
            </footer>



            <!-- BOOTSTRAP JS -->

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>